
@import "../css-config/mixins.scss";

.bannerImg{
    width: 100%;
    height: 150px;
}

.carasousel{
    margin-top: 10;
}


@include md{
    .bannerImg{
        object-fit: center;
        width: 100%;
       height: 300px;
    }
}